body {
  padding: 0;
  margin: 0;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@font-face {
  font-family: "Integral CF";
  src: url("./assets/fonts/Integral_CF/Fontspring-DEMO-integralcf-regular.otf") format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: url("./assets/fonts/Integral_CF/Fontspring-DEMO-integralcf-medium.otf") format('otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: url("./assets/fonts/Integral_CF/Fontspring-DEMO-integralcf-bold.otf") format('otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: url("./assets/fonts/Integral_CF/Fontspring-DEMO-integralcf-heavy.otf") format('otf');
  font-weight: bolder;
  font-style: normal;
}
